@font-face
{
;font-family: arcadeclassic;
src: url(ARCADECLASSIC.TTF)
}

* 
{
	text-decoration: none;
	font-family: arcadeclassic;
	list-style-type: none;
	padding: 0;
	margin: 0;

}

h1
{
position: absolute;
left: 29%;
top: 15%;
}

ul
{
position: absolute;
left: 55%;
top: 35%;
font-size: 23px;
color: black;
text-decoration: none;
}


a:hover
{
color: #44475a;
text-decoration: underline;
}

body
{
background-image: url('https://i.pinimg.com/originals/2f/28/85/2f2885a1af56d735eaf80697977ec3c3.gif');
background-size: cover;
height: 100vh;
padding:0;
margin:0;
}

.pp > img 
{ 
box-shadow: 5px 5px #db6964;
position: absolute; 
left: 28%;
top: 25%;
width: 350px;
height: auto;
}



